@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    font-size: 13px;
}

.card-container {
    display: flex;
    height: 800px;
}

.




/* Attribribution area */

.attribution {
    font-size: 11px;
      text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}